---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "16 mayo, 2024 - 29 mayo, 2024",
    title: "SQL Server ",
    company: "Pontificia Universidad Catolica del Perú",
    description:
    "Optimicé la gestión de pedidos e inventarios mediante la automatización y diseño de la arquitectura de base de datos. Implementé vistas analíticas y triggers para auditoría, validación y control de cambios.",
    image: "/sqlserver1.jpg"
  },
  {
    date: "25 febrero, 2024-13 marzo, 2024",
    title: "Power BI",
    company: "Centro Nacional de administración Pública",
    description:
    "Conecté y modelé datos desde SQL Server, archivos CSV y la nube para análisis de ventas e inventarios. Implementé cálculos en DAX y diseñé dashboards interactivos en Power BI Service, optimizando la visualización",
    image: "/POWERBI_LOGO.jpg"
    },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
